@media screen and (max-width: 600px) {
	body {
		.language-switcher {
			button:active {
				border-radius: 50%;
				box-shadow: inset 0 0 10px #e0d9d760, 0 0 20px #e0d9d760;
				outline-color: #e0d9d700;
				outline-offset: calc(var(--index) * 0.5);
				text-shadow: 1px 1px 2px #11110e;
				transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
				transform: scale(0.7);
				background: var(--main-color);
			}
		}

		main {

			.container {
				&.content {
					.horizontal {
						&.horizontal__pc {
							display: flex;

							.box {
								min-width: 100vw;
								min-height: 90vh;
								display: flex;
								justify-content: center;
								align-items: center;
								font-size: 4ch;
								color: var(--main-color);
								padding: calc(var(--index) * 1.5);
								margin: 10vh 0 0 0;

								.info {
									position: relative;
									height: 100%;
									width: 100%;
									display: flex;
									flex-direction: column;
									justify-content: center;
									align-items: center;
									border: 2px solid var(--main-color);
									border-radius: 28px;
									padding: 10px;

									.info__description {
										display: flex;
										flex-direction: column;
										justify-content: space-evenly;
										align-items: center;
										height: 35%;
										width: 70%;

										h3 {
											font-size: calc(var(--index) * 2);
											text-transform: uppercase;
											animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
										}

										span {
											font-size: calc(var(--index) * 1);
										}
									}

									.info__content {
										width: 70%;
										height: 10%;
										display: flex;
										justify-content: center;
										align-items: center;

										// .info__img,
										// .item-middle {
										// 	max-width: 100%;
										// }

										// .info__img {
										// 	&.item-left {
										// 		z-index: 1;
										// 		position: relative;
										// 		margin: 60% 0 -92% -25%;
										// 	}

										// 	&.item-right {
										// 		z-index: 2;
										// 		position: relative;
										// 		margin: -118% 0px 87% 25%;
										// 	}
										// }

										// .item-middle {
										// 	z-index: 3;
										// }

										p {
											color: white;
											font-size: calc(var(--index) * 1.25);
											text-transform: uppercase;

											&.js-animate-in {
												animation-name: animate-in;
												animation-duration: 500ms;
												animation-fill-mode: forwards;
												animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
											}

											&.js-animate-out {
												animation-name: animate-out;
												animation-duration: 500ms;
												animation-fill-mode: forwards;
												animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
											}
										}
									}
								}
							}
						}
					}
				}

				&.greeting {
					.section {
						height: 100vh;
						min-width: 100vw;

						.text-container {
							grid-template-rows: 48% auto auto 48%;
							grid-template-columns: unset;

							.text {
								width: 100vw;
								height: 100%;
								display: flex;
								justify-content: center;
								align-items: center;
							}

							.portal {
								border-radius: 2px;
								height: 2px;
								width: 80%;
								margin-left: 10%;
								border: unset;

								&.portal--from {
									border: 2px solid #6D362C;
								}

								&.portal--to {
									border: 2px solid #F9F5EF;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 601px) {
	body {

		main {
			.container {
				.horizontal {
					&.horizontal__pc {
						display: flex;
					}

					&.horizontal__mobile {
						display: none;
					}
				}

				.greeting {
					.section {
						.text-container {
							grid-template-rows: 40% auto auto 40%;
						}
					}
				}
			}
		}
	}
}