@media screen and (max-width: 600px) {
	body {
		.language-switcher {
			button:active {
				border-radius: 50%;
				box-shadow: inset 0 0 10px var(--color-main-60), 0 0 20px var(--color-main-60);
				outline-color: var(--color-main-00);
				outline-offset: calc(var(--index) * 0.5);
				text-shadow: 1px 1px 2px var(--bg-dark);
				transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
				transform: scale(0.7);
				background: var(--color-main);
			}
		}

		main {

			.container {
				&.greeting {
					.arrow {
						opacity: 0;
						position: absolute;
						left: 50%;
						bottom: 13%;
						transform-origin: 50% 50%;
						transform: translate3d(-50%, -50%, 0);
					}

					.arrow-first {
						animation: arrow-movement 2s ease-in-out infinite;
					}

					.arrow-second {
						animation: arrow-movement 2s 1s ease-in-out infinite;
					}

					.arrow:before,
					.arrow:after {
						background: var(--color-main);
						content: '';
						display: block;
						height: 2px;
						position: absolute;
						top: 0;
						left: 0;
						width: calc(var(--index) * 1.5);
					}

					.arrow:before {
						transform: rotate(45deg) translateX(-23%);
						transform-origin: top left;
					}

					.arrow:after {
						transform: rotate(-45deg) translateX(23%);
						transform-origin: top right;
					}

					// Animation
					@keyframes arrow-movement {
						0% {
							opacity: 0;
							bottom: 15%;
						}

						70% {
							opacity: 1;
						}

						100% {
							opacity: 0;
						}
					}
				}

				&.content {
					.horizontal {
						&.horizontal__pc {
							display: flex;

							.box {
								min-width: 100vw;
								min-height: 90vh;
								display: flex;
								justify-content: center;
								align-items: center;
								font-size: 4ch;
								color: var(--color-main);
								padding: calc(var(--index) * 1.5);
								margin: 10vh 0 0 0;

								.info {
									position: relative;
									height: 100%;
									width: 100%;
									display: flex;
									flex-direction: column;
									justify-content: center;
									align-items: center;
									border: 2px solid var(--color-main);
									border-radius: 28px;
									padding: 10px;

									.info__description {
										display: flex;
										flex-direction: column;
										justify-content: space-evenly;
										align-items: center;
										height: 35%;
										width: 70%;

										h3 {
											font-size: calc(var(--index) * 2);
											text-transform: uppercase;
											animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
										}

										span {
											font-size: calc(var(--index) * 1);
										}
									}

									.info__content {
										width: 70%;
										height: 10%;
										display: flex;
										justify-content: center;
										align-items: center;

										// .info__img,
										// .item-middle {
										// 	max-width: 100%;
										// }

										// .info__img {
										// 	&.item-left {
										// 		z-index: 1;
										// 		position: relative;
										// 		margin: 60% 0 -92% -25%;
										// 	}

										// 	&.item-right {
										// 		z-index: 2;
										// 		position: relative;
										// 		margin: -118% 0px 87% 25%;
										// 	}
										// }

										// .item-middle {
										// 	z-index: 3;
										// }

										p {
											color: white;
											font-size: calc(var(--index) * 1.25);
											text-transform: uppercase;

											&.js-animate-in {
												animation-name: animate-in;
												animation-duration: 500ms;
												animation-fill-mode: forwards;
												animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
											}

											&.js-animate-out {
												animation-name: animate-out;
												animation-duration: 500ms;
												animation-fill-mode: forwards;
												animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
											}
										}
									}
								}

								.flip-inner {
									.flip-face {
										&.flip-back {
											.info {
												&.info--back {
													.menu-title {
														margin: calc(var(--index) * 1.5) 0;
														padding-bottom: calc(var(--index) * 1.5);
													}

													.menu-scroll-area {
														.accordion {
															.accordion-item {

																&.amethyst,
																&.passion,
																&.sky-blue,
																&.rose,
																&.grey {
																	border-bottom: 1px solid transparent;
																	border-image-slice: 1;
																}

																&.passion {
																	border-image: linear-gradient(to right, var(--color-main), var(--color-treasure-passion)) 100% 1;
																}

																&.rose {
																	border-image: linear-gradient(to right, var(--color-main), var(--color-treasure-rose)) 100% 1;
																}

																&.sky-blue {
																	border-image: linear-gradient(to right, var(--color-main), var(--color-treasure-sky)) 100% 1;
																}

																&.amethyst {
																	border-image: linear-gradient(to right, var(--color-main), var(--color-treasure-amethyst)) 100% 1;
																}

																&.grey {
																	border-image: linear-gradient(to right, var(--color-main), var(--color-treasure-grey)) 100% 1;
																}

																.accordion-btn--item {
																	justify-content: space-between !important;

																	.accordion-title {
																		display: inline-block;
																		width: 90%;

																		&.zh {
																			font-family: "SF Pro Display Thin", sans-serif !important;
																		}
																	}

																	.accordion-category {
																		display: none !important;
																	}
																}

																.accordion-btn--heading {
																	span {
																		text-transform: uppercase;
																	}

																	&#accordion-button-100 {
																		margin: 0 0 calc(var(--index) * 1.5) 0;
																	}

																	&#accordion-button-200,
																	&#accordion-button-300,
																	&#accordion-button-400 {
																		margin: calc(var(--index) * 1.5) 0;
																	}
																}

																.accordion-content {
																	p {
																		font-family: "Inter";
																		font-size: 0.75rem;
																	}

																	.accordion-content__category-description {
																		text-align: center;
																		margin: 0 0 calc(var(--index) * 1.5) 0;
																	}

																	&.signature {
																		display: flex;
																		flex-direction: column;

																		p {
																			text-align: justify;
																		}

																		.data {
																			display: grid;
																			grid-template-columns: 60% 20% 20%;
																			margin: 0 0 .75rem 0;

																			span {
																				font-family: "Inter";
																				font-size: 0.75rem;
																			}
																		}
																	}

																	&.treasure {
																		display: grid;
																		grid-template-columns: 80% 20%;
																		align-items: center;

																		span {
																			text-align: center;
																			font-family: "Inter";
																			font-size: 0.75rem;
																		}
																	}

																	&.recipe {
																		font-family: "Inter";

																		.note {
																			font-size: .75rem;
																			text-align: justify;
																		}

																		.cocktail-details {
																			display: grid;
																			grid-template-columns: 60% 20% 20%;
																			font-size: .75rem;
																			margin: 0 0 1em 0;

																			.ingredients {
																				display: flex;
																				flex-direction: column;

																				li {
																					display: flex;
																					align-items: center;

																					&::before {
																						content: "●";
																						font-size: .25rem;
																						margin: 0 calc(var(--index) * .5) 0 0;
																					}

																					span {
																						font-size: .75rem;
																					}
																				}
																			}

																			.abv {
																				text-align: center;
																				display: flex;
																				flex-direction: column;
																				justify-content: space-around;
																			}

																			.price {
																				display: flex;
																				justify-content: center;
																				align-items: center;
																			}
																		}
																	}
																}
															}
														}
													}
												}
											}
										}
									}
								}

								.close-flip-btn {
									&:active {
										transform: scale(.5);
									}
								}
							}
						}
					}
				}

				&.greeting {
					.section {
						height: 100vh;
						min-width: 100vw;

						.text-container {
							grid-template-rows: 48% auto auto 48%;
							grid-template-columns: unset;

							.text {
								width: 100vw;
								height: 100%;
								display: flex;
								justify-content: center;
								align-items: center;
							}

							.portal {
								border-radius: 2px;
								height: 2px;
								width: 80%;
								margin-left: 10%;
								border: unset;

								&.portal--from {
									border: 1px solid var(--color-portal-from);
								}

								&.portal--to {
									border: 1px solid var(--color-portal-to);
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 601px) {
	body {

		main {
			.container {
				.horizontal {
					&.horizontal__pc {
						display: flex;
					}

					&.horizontal__mobile {
						display: none;
					}
				}

				.greeting {
					.section {
						.text-container {
							grid-template-rows: 40% auto auto 40%;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1024px) {

	/* 1. Отменяем жесткую высоту контейнера, которую ставит JS */
	.container.content {
		height: auto !important;
		display: block;
	}

	/* 2. Делаем блок обычным (не липким) */
	.horizontal,
	.horizontal__pc {
		position: relative !important;
		height: auto !important;
		width: 100%;

		/* 3. ВКЛЮЧАЕМ СВАЙП ПАЛЬЦЕМ */
		display: flex;
		overflow-x: auto !important;
		/* Разрешаем скролл */
		overflow-y: hidden;

		/* Добавляем инерцию (как в iOS) */
		-webkit-overflow-scrolling: touch;

		/* Магнитное прилипание (по желанию) */
		scroll-snap-type: x mandatory;
	}

	/* 4. Настраиваем карточки */
	.box,
	.box__pc {
		min-width: 85vw;
		/* Карточка почти во весь экран */
		height: 70vh;
		/* Высота поменьше */
		flex-shrink: 0;
		/* Чтобы не сжимались */

		scroll-snap-align: center;
		/* Центрируем при остановке */
		margin-right: 15px;
	}
}